 {% extends "partials/base.html" %}
 {% block title %}Staff Page{% endblock %}

  {% block content %}
     <!--Table-->
    <div class="container">
        <div class="row my-4">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <table class="table bg-white">
                    <thead class="bg-info">
                        <tr class="text-white">
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                            <th scope="col">phone number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><a class="btn btn-info btn-sm" href="">View</a></th>
                            <td>Tosin</td>
                            <td>Ayorinde</td>
                            <td>@tosin</td>
                            <td>08027127737</td>
                        </tr>
                        <tr>
                            <th scope="row"><a class="btn btn-info btn-sm" href="">View</a></th>
                            <td>Ola</td>
                            <td>Ola</td>
                            <td>@ola</td>
                            <td>09012345678</td>
                        </tr>
                         <tr>
                            <th scope="row"><a class="btn btn-info btn-sm" href="">View</a></th>
                            <td>Mariam</td>
                            <td>Taiwo</td>
                            <td>@wandey</td>
                            <td>09012763783</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>

    </div>


    <!--End Table-->
    {% endblock %}
